@{
    ViewBag.Title = "Home Page";
}

<!--Swarming Header Content-->
<div id="page-wrapper">
    <div id="page" class="container">
        <div id="content">
            <div class="title">
                <h2>Welcome to My Final Project!</h2>
                <span class="byline">Hope you like your stay!</span>
            </div>
            <p>This is the culmination of all of I have learned at Centriq these past few months. This project uses the MVC Framework and uses languages such as HTML, CSS, C#, and JavaScript!The purpose of this project is to allow reservations of hotels for business purposes, and for those reservations to be put into various spreadsheets viewable by Owners/Administrators of said business.</p>
        </div>
        <div id="sidebar"><a href="#" class="image image-full"><img src="~/Content/images/pic05.jpg" alt="" /></a></div>
    </div>
</div>

<!--Swarming Main Content-->
<!--Swarming Featured Section-->
<div id="featured-wrapper">
    <div id="featured" class="container">
        <div class="major">
            <h2>Maecenas lectus sapien</h2>
            <span class="byline">Cras vitae metus aliquam risus pellentesque pharetra</span>
        </div>
        <div class="column1">
            <span class="icon icon-bar-chart"></span>
            <div class="title">
                <h2>Maecenas lectus sapien</h2>
                <span class="byline">Integer sit amet aliquet pretium</span>
            </div>
        </div>
        <div class="column2">
            <span class="icon icon-qrcode"></span>
            <div class="title">
                <h2>Praesent scelerisque</h2>
                <span class="byline">Integer sit amet aliquet pretium</span>
            </div>
        </div>
        <div class="column3">
            <span class="icon icon-building"></span>
            <div class="title">
                <h2>Fusce ultrices fringilla</h2>
                <span class="byline">Integer sit amet aliquet pretium</span>
            </div>
        </div>
        <div class="column4">
            <span class="icon icon-picture"></span>
            <div class="title">
                <h2>Etiam posuere augue</h2>
                <span class="byline">Integer sit amet aliquet pretium</span>
            </div>
        </div>
    </div>
</div>

<!--Swarming Portfolio Section-->
<div id="portfolio-wrapper">
    <div id="portfolio" class="container">
        <div class="major">
            <h2>Suspendisse lacus turpis</h2>
            <span class="byline">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</span>
        </div>
        <div class="column1">
            <a href="#" class="image image-full"><img src="~/Content/images/pic01.jpg" height="150" alt="" /></a>
            <div class="box">
                <p>Etiam non felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem. Mauris quam enim, molestie.</p>
                <a href="#" class="button">Read More</a>
            </div>
        </div>
        <div class="column2">
            <a href="#" class="image image-full"><img src="~/Content/images/pic02.jpg" height="150" alt="" /></a>
            <div class="box">
                <p>Etiam non felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem. Mauris quam enim, molestie.</p>
                <a href="#" class="button">Read More</a>
            </div>
        </div>
        <div class="column3">
            <a href="#" class="image image-full"><img src="~/Content/images/pic03.jpg" height="150" alt="" /></a>
            <div class="box">
                <p>Etiam non felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem. Mauris quam enim, molestie.</p>
                <a href="#" class="button">Read More</a>
            </div>
        </div>
        <div class="column4">
            <a href="#" class="image image-full"><img src="~/Content/images/pic04.jpg" height="150" alt="" /></a>
            <div class="box">
                <p>Etiam non felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem. Mauris quam enim, molestie.</p>
                <a href="#" class="button">Read More</a>
            </div>
        </div>
    </div>
</div>

<!--Swarming Contact Section-->
<div id="contact" class="container">
    <div class="major">
        <h2>Get in touch</h2>
        <span class="byline">Phasellus nec erat sit amet nibh pellentesque congue</span>
    </div>  
</div>