@{
    ViewBag.Title = "Home Page";
}

<!--Page Header Content-->
<div id="page-wrapper">
    <div id="page" class="container">
        <div id="content">
            <div class="title">
                <h2>Welcome to My Final Project!</h2>
                <span class="byline">Hope you like your stay!</span>
            </div>
            <p>This is the culmination of all of I have learned at Centriq these past few months. This project uses the MVC Framework and uses languages such as HTML, CSS, C#, and JavaScript!The purpose of this project is to allow reservations of hotels for business purposes, and for those reservations to be put into various spreadsheets viewable by Owners/Administrators of said business.</p>
        </div>        
    </div>
</div>

<!--Main Page Content-->
<div id="featured-wrapper">
    <div id="featured" class="container">

    </div>
</div>
