/*Styling the page to look more pleasing to the eye from the Templates provided.*/
body {
    background: #FFFFFF;
}

/*Burger Styling for Mobile*/
.burger div{
    width: 25px;
    height: 5px;
    background-color: aqua;
    margin: 5px;
}